.logo {

    height: 50px;

}

.principal-logo {

    margin-top: -100px !important;

}

.hero {

    margin-top: -120px !important;


}
#staking {

    height: 50%;
    margin-bottom: 30px;

}



header {

    margin-top: 200px !important;

}

.navbar {


 z-index: 999999999 !important;
 position: fixed !important;
 border-bottom: 1px solid lightslategrey !important;

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.card {

    border: 0px solid white !important;
    align-items: center;

}


.card img {

    height: 70%;
    width: 50%;

}

.features-box h1 {

    color: black;

}

.features-row {

    justify-content: center;


}

.features-row i {

 
    color: black;
    font-size: 50px;


}

/* Cookies */


.containerCookie {

    position: fixed;
    bottom: 15px;
    z-index: 1;
  
  }
  
  .boxCookie {
  
    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
  }
  
  .rowCookie {
  
    display: flex;
    justify-content: center;
  
  }
  
  
  .textCookie {
  
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    
  
  }
  
  .textCookie span {
  
    color: black;
  }
  
  .textCookie a {
    color: rgb(109, 0, 63);
    text-decoration: none;
  }
  
  #cross {
    width: 15px;
    height: 15px;
    margin-top: 35px;
    opacity: 20%;
  }
  
  #cross:hover {
    opacity: 100%;
  }

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 464px) {


    #community {

        height: 16% !important;
        margin-top: 10px !important;
        
        }

    .community-card h4 {

        margin-top: 20px !important;

    }

    .principal-logo {

        margin-left: 55px !important;
        margin-bottom: 50px !important;
    
    }
  
    /* The Close Button (x) */

  .close {
    position: absolute;
    top: -20px !important;
    margin-left: 40px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    
  }
  
  
  
  /* Cookies */
  
  
  .containerCookie {
  
    position: fixed;
    bottom: 15px;
    z-index: 1;
  
  }
  
  .boxCookie {
  
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
  }
  
  .rowCookie {
  
    display: flex;
    justify-content: center;
  
  }
  
  
  .textCookie {
  
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.5;
    font-size: 10px;
    font-weight: 400;
    
  
  }
  
  .textCookie span {
  
    color: black;
  }
  
  
  #cross {
    width: 40px;
    height: 40px;
    margin-top: 35px;
    opacity: 30%;
  }
  
  #cross:hover {
    opacity: 100%;
  }

}
  